{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Bodegas
{% endblock titulo %}

{% block cabecera %}
    Bodegas
{% endblock cabecera %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ubicación</th>
            <th>Metros</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>  
    {% for bodega in Bodegas %}
        <tr>
            <td>{{ bodega.id }}</td>
            <td>{{ bodega.ubicacion }}</td>
            <td>{{ bodega.metro }}</td>
            <td>{{ bodega.valor }}</td>
        </tr>    
    {% endfor %}   
    </tbody>
</table>
{% endblock contenido %}

